
html {
    background: #EFE2BA;
  
}

p {
 font-family: "Arial";
    font-size: 50px;
    
}

#play {
    float: left;
    position: absolute;
    left: 40%;
    top: 50%;
    -webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
  animation: mymove 1s infinite;
}

#streak_div {
    position: fixed;
    float: right;
    
}




button {
  background-color: #B5CCE3;
  border: none;
  color: white;
  padding: 2% 8%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    font-family: "Arial";
    overflow: hidden;
    color: black;
}
button:after {
  content: "";
  background: #5CAAAC;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -50%!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#banner {
 width:  230px;
    height: 180px;
    padding-left: 42%;
    float: left;
    left: 45%;
}
#result {
    float: left;
    width: 100%;
    height: 20%;
    text-align: center;
}
#resultPlacement {
 top: 5%;   
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  50% {opacity: 0.5;}
}

#streak {
 margin: 300%;   
}

#div_3 {
  height: 190px;
  width: calc(100% / 3.02);
  display: inline-block;
  text-align: center;
}
